<div id="app">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <i class="fa fa-star px-2"></i>
    <a class="navbar-brand pr-2 pb-2" href="/">Genius</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mr-auto">
        <li><a routerLink="home" class="nav-link px-2 text-white">Задачи</a></li>
        <li class="nav-item"><a routerLink="login" class="nav-link">Login</a></li>
        <li class="nav-item dropdown px-2">
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle p-1 mt-1" data-bs-toggle="dropdown"
                    aria-expanded="false">
              Рейтинги
            </button>
            <ul class="dropdown-menu dropdown-menu-dark shadow">
              <li><a class="dropdown-item" href="#">Рейтинг пользователей</a></li>
              <li><a class="dropdown-item" href="#">Рейтинг задач</a></li>
              <li *ngIf="isLoggedIn">
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="isLoggedIn"><a class="dropdown-item" href="#">Мои достижения</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input type="search" class="form-control form-control-dark" placeholder="Найти..." aria-label="Search">
      </form>
      <a class="btn btn-outline-light my-2 my-sm-0 mx-3" (click)="open(loginModal)" routerLink="login" href="/login"
         role="button" *ngIf="!isLoggedIn">Войти</a>
      <div class="dropdown px-2" *ngIf="isLoggedIn">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{ avatarUrl }}" alt="{{username}}" class="rounded-circle avatar me-1">
          <strong>{{ username }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Добавить задачу</a></li>
          <li><a class="dropdown-item" href="#">Настройки профиля</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()" href="">Выйти</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #loginModal let-modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-3 pb-0 border-bottom-0">
        <h3><i class="fa fa-star star-modal px-2"></i>Genius</h3>
        <button type="button" class="btn btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <strong class="fw-bold mb-0">Вход<br></strong>
        <small class="text-muted">Нажав кнопку Войти, Вы соглашаетесь на предоставление персональной информации.</small>
        <hr class="my-4">
        <form class="form-social"><a href="{{ googleURL }}" class="btn btn-outline-primary social">
          <span class="fa fa-google"> </span> Войти с Google
        </a></form>
        <form class="form-social"><a href="{{ azureURL }}" class="btn btn-outline-success social">
          <span class="fa fa-windows"> </span> Войти с Microsoft
        </a></form>
        <form class="form-social"><a href="{{ githubURL }}" class="btn btn-outline-dark social">
          <span class="fa fa-github"> </span> Войти с GitHub
        </a></form>
      </div>
    </div>
  </div>
</ng-template>
